# =========================
# Raw Financial Data
# =========================
data/bank_raw/

# =========================
# Generated Outputs
# =========================
data/processed/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# macOS
# =========================
.DS_Store

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Environment Variables
# =========================
.env